In [48]:
變數一 , 變數二

NameError: name '變數一' is not defined

In [ ]:
age, name = 18 ,"yuping"

In [ ]:
age,name

(18, 'yuping')

In [ ]:
a,b,c= 20,20,20

In [ ]:
A=B=C=50

In [ ]:
a,b,c,A,B,C

(20, 20, 20, 50, 50, 50)

In [ ]:
早餐=100

In [ ]:
午餐=200

In [ ]:
餐費=早餐+午餐

In [ ]:
print(餐費)

300

In [ ]:
三天餐費= 餐費*3

In [ ]:
print(三天餐費)

900

In [ ]:
早餐=50

In [ ]:
餐費=早餐+午餐

In [ ]:
print(餐費)

250

In [ ]:
d = 2
#e = 3
f = 4

In [ ]:
d

2

In [ ]:
f

4

In [ ]:
e

NameError: name 'e' is not defined

In [ ]:
...
g = 1
h = 2
k = 4 
...

Ellipsis

In [ ]:
g

1

In [ ]:
週三氣溫 = 33
週四氣溫 = 32
週五氣溫 = 33
週六氣溫 = 33

In [ ]:
四天溫度平均 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [ ]:
print(四天溫度平均)

32.75

In [ ]:
週三氣溫,週四氣溫,週五氣溫,週六氣溫

(33, 32, 33, 33)

In [ ]:
print(((週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4))

32.75

In [ ]:
日花費= 300

In [ ]:
周花費= 日花費*7

In [ ]:
月花費= 周花費*4

In [49]:
print(月花費)

8400