In [1]:
print(list[-5])

list[-5]

In [2]:
list5 = [["tome",1234]],[["mary","abcd"]],["davod","5678"]

In [3]:
print(list5[1])

[['mary', 'abcd']]

In [4]:
print(list5[0])

[['tome', 1234]]

In [8]:
print(list5[1])

[['mary', 'abcd']]

In [14]:
a = int(input("國文成績"))
b = int(input("數學成績"))
c = int(input("英文成績"))

list9 = ['國文成績:',a],['數學成績:',b],['英文成績:',c]
print(list9[0])
print(list9[1])
print(list9[2])

['國文成績:', 85]
['數學成績:', 79]
['英文成績:', 93]

In [15]:
list1 = ("香蕉","蘋果","橘子")
for s in list1:
    print(s,end=",")

香蕉,蘋果,橘子,

In [ ]:
list7 = int(123),str("apple"),

In [24]:
a = input()
b = input()
c = input()
list1 = ['國文成績:', 85],['數學成績:', 79],['英文成績:', 93]
for i in (list1):
    print(a,list1)
    print(b,list1)
    print(c,list1)

tom (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
mary\tony (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
wad (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
tom (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
mary\tony (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
wad (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
tom (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
mary\tony (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])
wad (['國文成績:', 85], ['數學成績:', 79], ['英文成績:', 93])

panda 15 30 32

In [22]:
list8 = (input())
print(list8)

n

In [28]:
user_input = input()
string_list = user_input.split()
reversed_list = string_list[::-1]
print(" ".join(reversed_list))

150 120 90 60 30

In [33]:
user_input = input()
start, stop, step = map(int, user_input.split())
number_list = list(range(start, stop, step))
output = ",".join(map(str, number_list))
print(output)

1,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65,69,73,77,81,85,89,93,97,101,105,109,113,117,121,125,129,133,137,141,145,149,153,157,161,165,169,173,177,181,185,189,193,197